body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 100%;
    font-family: "Montserrat", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.App {
    text-align: center;
    width: 100%;
}

.HeaderDefault {
    background-color: black;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.NameCompanyHeader h2 {
    padding-top: 7%;
    font-size: 48px;
    color: #D23131;
    font-weight: 800;
}

.NameCompanyHeader h3 {
    padding-left: 2rem;
    font-weight: 1000;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 8px;
    color: #dddddd;
    padding-bottom: 7%;
}

.Header {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5%;
    width: 100%;
    letter-spacing: 0.4px;
    line-height: 2;
}


/* .HeaderText {
    padding: 5% 15% 0% 15%;
} */

.HeaderText h1 {
    padding-top: 5%;
    font-size: 3em;
    font-weight: bold;
}

.Slogan {
    padding: 3% 15% 3% 15%;
    font-size: 14px;
    font-weight: bold;
}

.HeaderRight {
    height: auto;
    /* width: 50%; */
}

.HeaderRight img {
    height: auto;
    width: 100%;
}

.WhyWe {
    padding: 0% 15% 3% 15%;
}

.DivForButton {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.ButtonSignIn {
    display: inline-block;
    background-color: #D23131;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 4px 10px;
    letter-spacing: 0.1em;
    border: 3px solid #D23131;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.ButtonSignIn:hover {
    background: #818a91;
    border: 3px solid #818a91;
}

.ButtonCreatePost {
    display: inline-block;
    text-align: center;
    color: #D23131;
    font-size: 17px;
    padding: 4px 14px;
    letter-spacing: 0.1em;
    border: 3px solid #D23131;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.ButtonCreatePost:hover {
    border: 3px solid #818a91;
    color: #818a91;
}

.Title {
    padding-top: 5%;
    line-height: 1.2;
    font-size: 17px;
}

.Title h1 {
    color: #D23131;
    font-weight: 900;
}

.Title h2 {
    color: #DDDDDD;
    font-weight: 800;
    opacity: .6;
    letter-spacing: 0.25em;
}

.TitleCategories {
    font-size: 3em;
}

.TopListA {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    grid-gap: 5%;
    padding: 5%;
}

.Projecting {
    /* background: url(E:\bilwork\bilwork-react\public\projectingCateg.jpg); */
    background-image: url(./img/projectingCateg\ \(2\).jpg);
    background-size: 100% 110% ;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 25%;
}

.Design {
    background: url(./img/designCateg.png);
    background-size: 100% 100% ;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 25%;
}

.Repair {
    background: url(./img/RepairCateg.jpg);
    background-size: 100% 100% ;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 25%;
}

.Building {
    background: url(./img/buildingCateg.png);
    background-size: cover;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 25%;
}

.Media {
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
    background: #D23131;
}

.SocialMedia {
    display: flex;
    width: 60%;
}

.SocialMedia div {
    padding: 2%;
}

.Gmail {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.Footer {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
    background-color: black;
}

.NameCompanyFooter {
    width: 20%;
}

.NameCompanyFooter h5 {
    padding-left: 0.8rem;
    font-weight: 800;
    color: #dddddd;
}

.Footer div h4 {
    color: #D23131;
    font-weight: 900;
    font-size: large;
}

.Original {
    width: 20%;
    color: azure;
    padding-top: 1rem;
}

.Content {
    display: grid;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    /* background: cornflowerblue; */
    height: 480px;
}

.TopContent {
    display: flex;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #e3e6ef;
    border-radius: 4%;
}

.Filter {
    margin-right: 2%;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    padding: 8px 12px;
    letter-spacing: 0.1em;
    border: 1px solid #000000;
    width: 10%;
    height: 8%;
    border-radius: 4%;
}

.NumberFinded {
    padding-top: 1%;
}

.FilterOpen {
    border: 1px solid #e3e6ef;
}

.FilterInputs {
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 2% 10%;
    border-bottom: 1px solid #e3e6ef;
}

.FilterInputs input {
    width: 30%;
    font-size: 20px;
}

.ButtonsFilter {
    display: flex;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    /* justify-content: end; */
}

.CleanFilter {
    margin-right: 2%;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    padding: 8px 12px;
    letter-spacing: 0.1em;
    border: 1px solid #000000;
    width: 10%;
    height: 8%;
    border-radius: 4%;
}

.ApllyFilter {
    margin-right: 2%;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    padding: 8px 12px;
    letter-spacing: 0.1em;
    border: 1px solid #000000;
    width: 10%;
    height: 8%;
    border-radius: 4%;
}

.login-wrapper {
    padding: 5% 30% 10% 30%;
    text-align: center;
    font-size: 20px;
}

.login-wrapper h1 {
    text-align: center;
}

.login-wrapper form label input {
    font-size: 20px;
    margin: 1%;
}

.login-wrapper form div button {
    font-size: 20px;
    padding: 1%;
    margin: 2%;
    width: 30%;
}

.InputsSignUp {
    text-align: center;
}

.InputsSignUp h1 {
    padding: 1%;
}

.InputsSignUp form label input {
    font-size: 20px;
    margin: 0.5%;
}

.InputsSignUp form label p {
    font-size: 20px;
}

.InputsSignUp form div button {
    font-size: 20px;
    margin: 0.5%;
    padding: 0.5% 2% 0.5% 2%;
}

.InputPost {
    font-size: 20px;
    margin: 0.5%;
    padding: 0.5% 2% 0.5% 2%;
}

.NamePost {
    font-size: 20px;
}

.DescriptionPost {
    font-size: 20px;
}

.MailPost {
    font-size: 20px;
}

.PhonePost {
    font-size: 20px;
}

.TitlePost {
    font-size: 20px;
    width: 70%;
}

.CategSelectPost {
    font-size: 20px;
}

.CitySelectPost {
    font-size: 20px;
}

.InputPost {
    margin: 0% 15% 5% 15%;
    border: 1px solid #000000;
    border-radius: 15px;
}

.InputPost div {
    /* background-color: #000000; */
    padding: 1%;
}

.TitleCreatePost {
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 750px) {
    .Header {
        display: block;
        width: 100%;
    }
    .Header h1 {
        width: 100%;
    }
    .HeaderRight img {
        width: 100%;
        height: auto;
    }
    .HeaderRight img {
        width: 100%;
        height: auto;
    }
    .HeaderLeft {
        padding-top: 1%;
    }
}